

<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<TourAgency.Models.ApplicationUser> SignInManager
@inject UserManager<TourAgency.Models.ApplicationUser> UserManager
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Туристична агенція</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="/css/site.css" rel="stylesheet" />

</head>
<body>
<header class="header">
        <div class="logo-section nav-links">
            <img src="~/images/travel_icon.png" alt="Logo" class="logo">
             <a href="/Home/Index"> <h1>Time to travel!</h1></a>
        </div>

         <div class = "links">
            <nav class="nav-links">
                <a href="/Home/Tours">Tours</a>
                <a href="/Home/About">About us</a>
                <a href="/Home/Contacts">Contacts</a>
            </nav>
        </div>

        <div class="account-icon">
            @if (SignInManager.IsSignedIn(User))
            {
                var user = await UserManager.GetUserAsync(User);
                if (await UserManager.IsInRoleAsync(user, "Admin"))
                {
                    <a href="/Admin/Index">
                        <img class="profile-logo" src="~/images/profile.png" alt="Admin Dashboard">
                    </a>
                }
                else
                {
                    <a href="/Identity/Account/Manage">
                        <img class="profile-logo" src="~/images/profile.png" alt="Profile">
                    </a>
                }
             
            }
            else
            {
                    <a href="/Identity/Account/Login">
                        <img class="profile-logo" src="~/images/profile.png" alt="profile">
                    </a>              
            }
        </div>
    </header>

    <main role="main" class="container-fluid p-0 main">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2024 Туристична агенція</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
